<% if user_signed_in? %>

	<h1>Listing Projects</h1>

	<table>
	  <thead>
	    <tr>	      
	      <th>Name</th>	      
	      <th>Description</th>
	      <th>User</th>	      
	    </tr>
	  </thead>

	  <tbody>
	    <% @projects.each do |project| %>
	      <tr>
	        <td><%= project.name %></td>
	        <td><%= project.description %></td>
	        <td><%= project.user %></td>	        
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Project', [:new, current_user, :project], class: "btn btn-primary" %>


<% else %>
	
<% end %>